video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.App {
    background-color: rgb(243, 127, 82, 0.4);
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 42px;
    color: rgb(88, 37, 3);
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
   color: rgb(49, 2, 2); 
}

.btn {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background-color: bisque;
    color: rgb(49, 2, 2);
    border: rgb(49, 2, 2) solid 2px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(230, 195, 167);
}